<div *ngIf="message && isWarning" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>The lake is NOT safe.  </strong> {{message}}
  <button type="button" class="btn-close" aria-label="Close" (click)="dismissWarning()"></button>
</div>

<div *ngIf="message && !isWarning" class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>The lake is safe.  </strong> {{message}}
  <button type="button" class="btn-close" aria-label="Close" (click)="dismissWarning()"></button>
</div>

<div class="row">
  <img *ngIf='header.display' [src]='header.url' style="width: 100%; height: 100%">
</div>
<div class="row">
  <img [src]='headerImage' style="width: 100%; height: 100%">
</div>
