<div class="row" style="border: 1px solid rgb(70, 116, 193); border-radius: 1em; margin-top: 40px">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Event Calendar">
      <div style="padding-top:50px"></div>
      <calendar></calendar>
    </mat-tab>
    <mat-tab label="Water Quality">
      <div style="padding-top:50px"></div>
      <lake-health></lake-health>
    </mat-tab>
    <mat-tab label="Commerce">
      <div style="padding-top:50px"></div>
      <businesses></businesses>
    </mat-tab>
    <mat-tab label="Finances">
      <div style="padding-top:50px"></div>
      Funds in and out
    </mat-tab>
    <mat-tab label="Images">
      <div style="padding-top:50px"></div>
      <media></media>
    </mat-tab>
  </mat-tab-group>
</div>
<div style="padding-top: 20px"></div>
