<div class="row" style="border-top: 2px solid rgb(70, 116, 193); margin-top: 40px; padding-top: 30px">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Event Calendar">
      <div style="padding-top:50px"></div>
      <calendar></calendar>
    </mat-tab>
    <mat-tab label="Water Quality">
      <div style="padding-top:50px"></div>
      lake health data here
    </mat-tab>
    <mat-tab label="Finances">
      <div style="padding-top:50px"></div>
      Funds in and out
    </mat-tab>
    <mat-tab label="Images">
      <div style="padding-top:50px"></div>
      <media></media>
    </mat-tab>
  </mat-tab-group>
</div>
