<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <header></header>
  </div>

  <!-- <div class="row" style="border-top: 2px solid rgb(70, 116, 193); padding-top: 30px">
    <div class="col-6">
      <app-slide-show></app-slide-show>
    </div>
    <div class="col-6" style="border-left: 2px solid rgb(26, 32, 154);">
      <app-tabs></app-tabs>
    </div>
  </div> -->

  <!--lakesylvanpoa@gmail.com-->
  <!--Sweetcorn!-->
  <tabs></tabs>
  <router-outlet></router-outlet>
</div>
